@font-face {
  font-family: "Minecraftia";
  src: url("/media/Minecraftia-Regular.ttf") format("ttf");
}

body {
  font-family: "Roboto";
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-family: "Minecraftia";
  font-size: 35px;
}

.main {
  font-size: 20px;
}

.logo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -0%);
}
